<header>
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="/" class="left brand-logo">Fazbook</a>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="/">Home</a></li>
        <li class="tab"><a href="/auth/register">Register</a></li>
        <li class="tab"><a href="/auth/login">Log In</a></li>
        <li class="tab"><a href="/auth/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
</header>


