<% include partials/head.ejs %>
  <body>
    <% include partials/header.ejs %>
    <main>
      <div class="index-container">
        <h2>Welcome to my dabblings with authentication.</h2>
        <p>This is a sandbox for experimentation, where I'll adapt what I learn into future projects. </p>
        <p>All content on this page are subject to change.</p>
      </div>
    </main>
    <% include partials/footer.ejs %>
  </body>
</html>
