<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>
    <main>
      <div class="user-container">
        <p>Hello, this is the user profile page!</p>
        <p>First Name: <%= user.firstName %></p>
        <p>Last Name: <%= user.lastName %></p>
        <p>Email: <%= user.email %></p>
        <p>Birthday: <%= user.dob %></p>
      </div>
    </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>
